<div class="flex flex-column gap-half align-center" data-controller="dialog filter-form" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside turbo:before-cache@document->dialog#close">
  <h1 class="txt-large flex align-center gap-half">
    <%= filter.buckets.first&.name || "All projects" %>
  </h1>

  <div class="filters flex-inline align-center gap-half">
    <button class="btn btn--plain txt-small" data-action="click->dialog#toggle">
      <%= image_tag "filter.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Filter</span>
    </button>

    <%= form_with url: bubbles_path, method: :get, class: "flex-inline center align-center gap-half", data: { controller: "form" } do %>
      <%= filter_chip_tag filter.indexed_by.humanize, name: "indexed_by", value: filter.indexed_by unless filter.default_indexed_by? %>

      <% filter.tags.each do |tag| %>
        <%= filter_chip_tag tag.hashtag, name: "tag_ids[]", value: tag.id %>
      <% end %>

      <% filter.assignees.each do |assignee| %>
        <%= filter_chip_tag "for #{assignee.name}", name: "assignee_ids[]", value: assignee.id %>
      <% end %>

      <% if filter.assignments.present? %>
        <%= filter_chip_tag filter.assignments.humanize, name: "assignments", value: filter.assignments %>
      <% end %>

      <% filter.assigners.each do |assigner| %>
        <%= filter_chip_tag "by #{assigner.name}", name: "assigner_ids[]", value: assigner.id %>
      <% end %>

      <% filter.buckets.each do |bucket| %>
        <%= filter_chip_tag "in #{bucket.name}", name: "bucket_ids[]", value: bucket.id %>
      <% end %>

      <% filter.terms.each do |term| %>
        <%= filter_chip_tag %Q("#{term}"), name: "terms[]", value: term %>
      <% end %>
    <% end %>
  </div>

  <dialog class="panel fill-white shadow" style="--panel-padding: var(--block-space); --panel-size: 90ch;" data-dialog-target="dialog">
    <div class="flex flex-column gap-half">
      <div class="flex align-center gap-half justify-space-between">
        <span class="btn btn--placeholder txt-small" aria-hidden="true"></span>

        <h2 class="txt-large flex gap-half margin-none">
          <%= filter.buckets.first&.name || "All projects" %>
        </h2>

        <form method="dialog">
          <button class="btn panel__close txt-small" title="Close (esc)">
            <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
            <span class="for-screen-reader">Close</span>
          </button>
        </form>
      </div>

      <%= form_with url: bubbles_path, id: :filter_form, method: :get, class: "flex flex-column gap full-width", style: "--border-color: var(--color-subtle)" do %>
        <% Array(params[:terms]).each do |term| %>
          <%= hidden_field_tag "terms[]", term, id: nil %>
        <% end %>

        <div class="flex gap">
          <div class="flex gap flex-item-grow">
            <menu class="filter__menu list-style-none unpad margin-none">
              <li><strong class="filter__label">Sort by</strong></li>

              <li>
                <%= radio_button_tag "indexed_by", filter.default_indexed_by, filter.default_indexed_by?, hidden: true %>
                <%= label_tag "indexed_by_#{filter.default_indexed_by}", "Default", class: "btn btn--plain filter__button" %>
              </li>

              <% Filter::INDEXES.each do |index| %>
                <li>
                  <%= radio_button_tag "indexed_by", index, filter.indexed_by == index, hidden: true %>
                  <%= label_tag "indexed_by_#{index}", index.humanize, class: "btn btn--plain filter__button" %>
                </li>
              <% end %>
            </menu>
          </div>

          <hr class="separator" />
          <div class="flex gap flex-item-grow">
            <menu class="filter__menu list-style-none unpad margin-none">
              <li><strong class="filter__label">In Project</strong></li>

              <li>
                <%= button_tag "All projects", type: :button, class: "btn btn--plain filter__button", data: { action: "filter-form#clearCategory", filter_form_name_param: "bucket_ids[]" } %>
              </li>

              <% Current.user.buckets.order(:name).each do |bucket| %>
                <li>
                  <%= check_box_tag "bucket_ids[]", bucket.id, filter.buckets.include?(bucket), id: "bucket_ids_#{bucket.id}", hidden: true %>
                  <%= label_tag "bucket_ids_#{bucket.id}", bucket.name, class: "btn btn--plain filter__button" %>
                </li>
              <% end %>
            </menu>
          </div>

          <hr class="separator" />
          <div class="flex gap flex-item-grow">
            <menu class="filter__menu list-style-none unpad margin-none">
              <li><strong class="filter__label">Tagged</strong></li>

              <% Current.account.tags.order(:title).each do |tag| %>
                <li>
                  <%= check_box_tag "tag_ids[]", tag.id, filter.tags.include?(tag), id: "tag_ids_#{tag.id}", hidden: true %>
                  <%= label_tag "tag_ids_#{tag.id}", tag.hashtag, class: "btn btn--plain filter__button" %>
                </li>
              <% end %>
            </menu>
          </div>

          <hr class="separator" />
          <div class="flex gap flex-item-grow">
            <menu class="filter__menu list-style-none unpad margin-none">
              <li><strong class="filter__label">Assigned to…</strong></li>

              <li>
                <%= check_box_tag "assignments", "unassigned", filter.assignments.unassigned?, id: "assignments_unassigned", hidden: true, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignee_ids[],assigner_ids[]" } %>
                <%= label_tag "assignments_unassigned", "No one", class: "btn btn--plain filter__button" %>
              </li>
              <li>
                <%= check_box_tag "assignee_ids[]", Current.user.id, filter.assignees.include?(Current.user), id: "assignee_ids_me", hidden: true, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignments" } %>
                <%= label_tag "assignee_ids_me", "Me", class: "btn btn--plain filter__button" %>
              </li>
              <% Current.account.users.active.without(Current.user).order(:name).each do |user| %>
                <li>
                  <%= check_box_tag "assignee_ids[]", user.id, filter.assignees.include?(user), id: "assignee_ids_#{user.id}", hidden: true, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignments" } %>
                  <%= label_tag "assignee_ids_#{user.id}", user.name, class: "btn btn--plain filter__button" %>
                </li>
              <% end %>
            </menu>
          </div>

          <hr class="separator" />
          <div class="flex gap flex-item-grow">
            <menu class="filter__menu list-style-none unpad margin-none">
              <li><strong class="filter__label">Assigned by…</strong></li>

              <li>
                <%= check_box_tag "assigner_ids[]", Current.user.id, filter.assigners.include?(Current.user), id: "assigner_ids_me", hidden: true, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignments" } %>
                <%= label_tag "assigner_ids_me", "Me", class: "btn btn--plain filter__button" %>
              </li>
              <% Current.account.users.active.without(Current.user).order(:name).each do |user| %>
                <li>
                  <%= check_box_tag "assigner_ids[]", user.id, filter.assigners.include?(user), id: "assigner_ids_#{user.id}", hidden: true, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignments" } %>
                  <%= label_tag "assigner_ids_#{user.id}", user.name, class: "btn btn--plain filter__button" %>
                </li>
              <% end %>
            </menu>
          </div>
        </div>
      <% end %>

      <div class="flex align-center txt-align-center justify-space-between gap-half margin-block-start">
        <%= tag.button class: "btn", form: :filter_form, formaction: filters_path, formmethod: :post do %>
          <%= image_tag "bubbles.svg", aria: { hidden: true }, size: 24 %>
          <span>Save to home</span>
        <% end %>

        <button class="btn btn--reversed" form="filter_form">
          <span>Apply</span>
          <%= image_tag "arrow-right.svg", aria: { hidden: true }, size: 24 %>
        </button>
      </div>
    </div>
  </dialog>
</div>
